<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes</title>
    <!-- Main styles for this application-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

<div th:replace="fragments/header :: header"></div>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/notes}">
                        <i class="nav-icon icon-speedometer"></i> Notes
                    </a>
                </li>
                <li class="nav-title">Reports</li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/notes}">
                        <i class="nav-icon icon-drop"></i> Completed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/notes}">
                        <i class="nav-icon icon-pencil"></i> Charts</a>
                </li>
            </ul>
        </nav>
    </div>

    <main class="main">
        <form th:action="@{/update}" th:object="${note}" method="post">
            <table>
                <tr>
                    <td><input title="id" type="number" hidden="true" th:field="*{id}"/></td>
                    <td><input title="data" type="text" th:field="*{data}"/></td>
                    <td><select th:field="*{done}">
                        <option th:value="true" data-th-field="*{done}">Done</option>
                        <option th:value="false" data-th-field="*{done}">Not done</option>
                    </select></td>
                    <td><input type="submit" value="Save"></td>
                </tr>
            </table>
        </form>
    </main>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>